<a href="https://colab.research.google.com/github/loks2cool/eda-upgrad-colab/blob/master/EDA_Stack_overflow_Logeswaran.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
%matplotlib inline

In [7]:
#while reading the data, faced utf-8 error. So applied this encoding technique to sort out the error.
questions = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Questions.csv",encoding='latin-1')

In [8]:
#Check total number of questions available 
questions.count()

Id              1264216
OwnerUserId     1249762
CreationDate    1264216
ClosedDate        55959
Score           1264216
Title           1264216
Body            1264216
dtype: int64

In [9]:
#Check the first 5 rows to verfiy the data
questions.head()

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 7 columns]

In [10]:
#shape of the datasets, explains we have 7 columns and closed to ~13 lacs records
questions.shape

(1264216, 7)

In [11]:
#Explore column names
questions.columns

Index(['Id', 'OwnerUserId', 'CreationDate', 'ClosedDate', 'Score', 'Title',
       'Body'],
      dtype='object')

In [12]:
#to explore the datasets, such as it's data type, non-null values etc
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264216 entries, 0 to 1264215
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            1264216 non-null  int64
 1   OwnerUserId   1249762 non-null  float64
 2   CreationDate  1264216 non-null  object
 3   ClosedDate    55959 non-null    object
 4   Score         1264216 non-null  int64
 5   Title         1264216 non-null  object
 6   Body          1264216 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 67.5+ MB

In [13]:
#Read answer datasets
answers = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Answers.csv",encoding='latin-1')

In [14]:
#read tag datasets
tags = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Tags.csv",encoding='latin-1')

In [15]:
#read user datasets
users = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Users.csv",encoding='latin-1')

In [16]:
#to explore first few rows
answers.head()

    Id  OwnerUserId  ... Score                                               Body
0   92         61.0  ...    13  <p><a href="http://svnbook.red-bean.com/">Vers...
1  124         26.0  ...    12  <p>I wound up using this. It is a kind of a ha...
2  199         50.0  ...     1  <p>I've read somewhere the human eye can't dis...
3  269         91.0  ...     4  <p>Yes, I thought about that, but I soon figur...
4  307         49.0  ...    28  <p><a href="http://www.codeproject.com/Article...

[5 rows x 6 columns]

In [17]:
#to explore first few rows
tags.head()
tags.count()

Id     3750994
Tag    3749881
dtype: int64

In [18]:
tags.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

In [19]:
(tags.duplicated(subset=['Id', 'Tag'])).sum()

1

###Clearning Users Datasets

In [20]:
#to explore first few rows
users.head()

   Unnamed: 0  id display_name  ... up_votes down_votes  views
0           0  26        Shawn  ...      565         67   3547
1           1  26        Shawn  ...      565         67   3547
2           2  26        Shawn  ...      565         67   3547
3           3  26        Shawn  ...      565         67   3547
4           4  26        Shawn  ...      565         67   3547

[5 rows x 9 columns]

In [21]:
#dropp the unwanted column permanently
users.drop("Unnamed: 0",axis=1,inplace=True)

In [22]:
users.drop("display_name",axis=1,inplace=True)
users.count()

id                  1990480
creation_date       1990480
last_access_date    1990480
reputation          1990480
up_votes            1990480
down_votes          1990480
views               1990480
dtype: int64

In [27]:
#Find duplicated records from the dataset users
(users.duplicated(subset=['id', 'last_access_date','up_votes','down_votes'])).sum()

1525020

In [28]:
#Find non-duplicated records from the dataset users
(~users.duplicated(subset=['id','last_access_date','up_votes','down_votes'])).sum()

465460

In [29]:
#Drop duplicate records & create unique users
uniqueUsers = users.drop_duplicates()

In [30]:
uniqueUsers.count()

id                  465460
creation_date       465460
last_access_date    465460
reputation          465460
up_votes            465460
down_votes          465460
views               465460
dtype: int64

#Cleaning Answers Dataset

In [31]:
answers.count()

Id              2014516
OwnerUserId     2001316
CreationDate    2014516
ParentId        2014516
Score           2014516
Body            2014516
dtype: int64

In [32]:
#Remove the missing records
answerdata = answers[~answers.OwnerUserId.isnull()]
answerdata.count()

Id              2001316
OwnerUserId     2001316
CreationDate    2001316
ParentId        2001316
Score           2001316
Body            2001316
dtype: int64

In [33]:
answerdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2001316 entries, 0 to 2014515
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Id            int64
 1   OwnerUserId   float64
 2   CreationDate  object
 3   ParentId      int64
 4   Score         int64
 5   Body          object
dtypes: float64(1), int64(3), object(2)
memory usage: 106.9+ MB

In [34]:
#convert float to integer type
answerdata.OwnerUserId = answerdata.OwnerUserId.astype(int)

In [35]:
#check the datatype values of columns
answerdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2001316 entries, 0 to 2014515
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Id            int64
 1   OwnerUserId   int64
 2   CreationDate  object
 3   ParentId      int64
 4   Score         int64
 5   Body          object
dtypes: int64(4), object(2)
memory usage: 106.9+ MB

#Trends & analysis

In [36]:
new_df = pd.merge(questions, tags,  how='left')

In [37]:
new_df.head()

   Id  ...             Tag
0  80  ...            flex
1  80  ...  actionscript-3
2  80  ...             air
3  90  ...             svn
4  90  ...     tortoisesvn

[5 rows x 8 columns]

In [38]:
# new_df = new_df[~new_df.OwnerUserId.isnull()]
new_df.count()

Id              3750994
OwnerUserId     3710245
CreationDate    3750994
ClosedDate       153225
Score           3750994
Title           3750994
Body            3750994
Tag             3749881
dtype: int64

In [39]:
newdf_closed = new_df[~new_df.ClosedDate.isnull()]
newdf_closed.count()

Id              153225
OwnerUserId     151265
CreationDate    153225
ClosedDate      153225
Score           153225
Title           153225
Body            153225
Tag             153156
dtype: int64

In [40]:
#Closed questions and top tags
newdf_closed.Tag.value_counts()

java                 7853
php                  7206
javascript           6470
c#                   5104
python               3746
                     ...
watchconnectivity       1
oracle-adf              1
ini-set                 1
force.com               1
brief-bookmarks         1
Name: Tag, Length: 10111, dtype: int64

In [41]:
newdf_GroupedData = newdf_closed.groupby(['OwnerUserId','Tag'])
newdf_GroupedData.first()

                                    Id  ...                                               Body
OwnerUserId Tag                         ...
4.0         c#                 3166840  ...  <p>Eric Lippert's comments in <a href="http://...
            casting            3166840  ...  <p>Eric Lippert's comments in <a href="http://...
            type-conversion    3166840  ...  <p>Eric Lippert's comments in <a href="http://...
17.0        cmdlets               2630  ...  <p>I just found /n softwares free Powershell N...
            powershell            2630  ...  <p>I just found /n softwares free Powershell N...
...                                ...  ...                                                ...
7044612.0   operating-system  40141810  ...  <p>This is my first question here in StackOver...
            system            40141810  ...  <p>This is my first question here in StackOver...
7044756.0   c                 40142370  ...  <p>I'm tried to write a program to find value ...
7044841.0   python            40142600  ...  <pre><code>def compress(s):\n    âââ(str...
7044882.0   c++               40142790  ...  <p>Sorry in advance for the weird format of th...

[148463 rows x 6 columns]

In [42]:
#Drop ClosedDate as we have so many missing values and handling this missing value is dont make sense..
new_df.drop(['ClosedDate'], axis = 1,inplace=True)

In [43]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3750994 entries, 0 to 3750993
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   Id            int64
 1   OwnerUserId   float64
 2   CreationDate  object
 3   Score         int64
 4   Title         object
 5   Body          object
 6   Tag           object
dtypes: float64(1), int64(2), object(4)
memory usage: 228.9+ MB

#Let's find the users who are active in datascience and asnswerd lot of data science Questions  
#Let's merge two tables answers & tags & users need to be merged
#answers has the field ParentID & tags has id - both should be joined using this fields, resulted dataset to combine with Users table by using OwneruserID & id from user

In [44]:
answerdata = answerdata.rename(columns={'Id': 'answerId','ParentId':"Id"})

In [45]:
answertags = pd.merge(answerdata, tags,  how='left')
answertags.count()

answerId        5858989
OwnerUserId     5858989
CreationDate    5858989
Id              5858989
Score           5858989
Body            5858989
Tag             5856537
dtype: int64

In [46]:
answertags.head()

   answerId  ...                    Tag
0        92  ...                    svn
1        92  ...            tortoisesvn
2        92  ...                 branch
3        92  ...  branching-and-merging
4       124  ...                   flex

[5 rows x 7 columns]

In [47]:
answertags.drop(['CreationDate','Body'],axis=1,inplace=True)

In [48]:
answertags.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5858989 entries, 0 to 5858988
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   answerId     int64
 1   OwnerUserId  int64
 2   Id           int64
 3   Score        int64
 4   Tag          object
dtypes: int64(4), object(1)
memory usage: 268.2+ MB

In [50]:
answertags.Tag.value_counts()

javascript         204122
java               199896
c#                 179154
php                166898
jquery             136320
                    ...
objectdatasouce         1
viewrendering           1
netmon                  1
squib                   1
novell-idm              1
Name: Tag, Length: 35466, dtype: int64

In [61]:
datasciencearray=['python','r','matlab','sas','excel','sql']
datascienceusers = answertags.loc[answertags['Tag'].isin(datasciencearray)]

In [64]:
results = datascienceusers.groupby(['OwnerUserId','Tag'])

In [66]:
results.first()

                    answerId        Id  Score
OwnerUserId Tag
4           excel     260297    260260      4
            sql      4484279   4484250      1
5           sql        13555     13540      5
13          python    190017    190010    220
            sql      2198330   2198320      0
...                      ...       ...    ...
7039394     python  40142703  40120210      0
7039430     r       40120266  38481980      0
7040778     sql     40140116  40139980      0
7042894     python  40136066  40134810      1
7044747     python  40142068  40010040      1

[79068 rows x 3 columns]