<a href="https://colab.research.google.com/github/loks2cool/eda-upgrad-colab/blob/master/EDA_Stack_overflow_Logeswaran.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [21]:
import warnings
warnings.filterwarnings('ignore')

In [22]:
import numpy as np

In [23]:
import matplotlib.pyplot as plt

In [24]:
import seaborn as sns

In [25]:
%matplotlib inline

In [14]:
#while reading the data, faced utf-8 error. So applied this encoding technique to sort out the error.
questions = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Questions.csv",encoding='latin-1')

In [15]:
#Check total number of questions available 
questions.count()

Id              1264216
OwnerUserId     1249762
CreationDate    1264216
ClosedDate        55959
Score           1264216
Title           1264216
Body            1264216
dtype: int64

In [16]:
#Check the first 5 rows to verfiy the data
questions.head()

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 7 columns]

In [17]:
#shape of the datasets, explains we have 7 columns and closed to ~13 lacs records
questions.shape

(1264216, 7)

In [19]:
#Explore column names
questions.columns

Index(['Id', 'OwnerUserId', 'CreationDate', 'ClosedDate', 'Score', 'Title',
       'Body'],
      dtype='object')

In [20]:
#to explore the datasets, such as it's data type, non-null values etc
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264216 entries, 0 to 1264215
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            1264216 non-null  int64
 1   OwnerUserId   1249762 non-null  float64
 2   CreationDate  1264216 non-null  object
 3   ClosedDate    55959 non-null    object
 4   Score         1264216 non-null  int64
 5   Title         1264216 non-null  object
 6   Body          1264216 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 67.5+ MB