<a href="https://colab.research.google.com/github/loks2cool/eda-upgrad-colab/blob/master/EDA_Stack_overflow_Logeswaran.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
%matplotlib inline

In [7]:
#while reading the data, faced utf-8 error. So applied this encoding technique to sort out the error.
questions = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Questions.csv",encoding='latin-1')

In [8]:
#Check total number of questions available 
questions.count()

Id              1264216
OwnerUserId     1249762
CreationDate    1264216
ClosedDate        55959
Score           1264216
Title           1264216
Body            1264216
dtype: int64

In [9]:
#Check the first 5 rows to verfiy the data
questions.head()

    Id  ...                                               Body
0   80  ...  <p>I've written a database generation script i...
1   90  ...  <p>Are there any really good tutorials explain...
2  120  ...  <p>Has anyone got experience creating <strong>...
3  180  ...  <p>This is something I've pseudo-solved many t...
4  260  ...  <p>I have a little game written in C#. It uses...

[5 rows x 7 columns]

In [10]:
#shape of the datasets, explains we have 7 columns and closed to ~13 lacs records
questions.shape

(1264216, 7)

In [11]:
#Explore column names
questions.columns

Index(['Id', 'OwnerUserId', 'CreationDate', 'ClosedDate', 'Score', 'Title',
       'Body'],
      dtype='object')

In [12]:
#to explore the datasets, such as it's data type, non-null values etc
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264216 entries, 0 to 1264215
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Id            1264216 non-null  int64
 1   OwnerUserId   1249762 non-null  float64
 2   CreationDate  1264216 non-null  object
 3   ClosedDate    55959 non-null    object
 4   Score         1264216 non-null  int64
 5   Title         1264216 non-null  object
 6   Body          1264216 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 67.5+ MB

In [13]:
#Read answer datasets
answers = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Answers.csv",encoding='latin-1')

In [14]:
#read tag datasets
tags = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Tags.csv",encoding='latin-1')

In [15]:
#read user datasets
users = pd.read_csv("https://stack-overflow-casestudy-datasets.s3.amazonaws.com/Users.csv",encoding='latin-1')

In [16]:
#to explore first few rows
answers.head()

    Id  OwnerUserId  ... Score                                               Body
0   92         61.0  ...    13  <p><a href="http://svnbook.red-bean.com/">Vers...
1  124         26.0  ...    12  <p>I wound up using this. It is a kind of a ha...
2  199         50.0  ...     1  <p>I've read somewhere the human eye can't dis...
3  269         91.0  ...     4  <p>Yes, I thought about that, but I soon figur...
4  307         49.0  ...    28  <p><a href="http://www.codeproject.com/Article...

[5 rows x 6 columns]

In [17]:
#to explore first few rows
tags.head()

   Id             Tag
0  80            flex
1  80  actionscript-3
2  80             air
3  90             svn
4  90     tortoisesvn

###Clearning Users Datasets

In [18]:
#to explore first few rows
users.head()

   Unnamed: 0  id display_name  ... up_votes down_votes  views
0           0  26        Shawn  ...      565         67   3547
1           1  26        Shawn  ...      565         67   3547
2           2  26        Shawn  ...      565         67   3547
3           3  26        Shawn  ...      565         67   3547
4           4  26        Shawn  ...      565         67   3547

[5 rows x 9 columns]

In [19]:
#dropp the unwanted column permanently
users.drop("Unnamed: 0",axis=1,inplace=True)

In [20]:
users.count()

id                  1990480
display_name        1990344
creation_date       1990480
last_access_date    1990480
reputation          1990480
up_votes            1990480
down_votes          1990480
views               1990480
dtype: int64

In [22]:
#Find duplicated records from the dataset users
(users.duplicated(subset=['id', 'display_name','last_access_date','up_votes','down_votes'])).sum()

1525020

In [23]:
#Find non-duplicated records from the dataset users
(~users.duplicated(subset=['id', 'display_name','last_access_date','up_votes','down_votes'])).sum()

465460

In [24]:
#Drop duplicate records & create unique users
uniqueUsers = users.drop_duplicates()

In [25]:
uniqueUsers.count()

id                  465460
display_name        465436
creation_date       465460
last_access_date    465460
reputation          465460
up_votes            465460
down_votes          465460
views               465460
dtype: int64

#Cleaning Answers

In [28]:
answers.count()

Id              2014516
OwnerUserId     2001316
CreationDate    2014516
ParentId        2014516
Score           2014516
Body            2014516
dtype: int64

In [33]:
#Remove the missing records
answerdata = answers[~answers.OwnerUserId.isnull()]
answerdata.count()

In [35]:
answerdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2001316 entries, 0 to 2014515
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Id            int64
 1   OwnerUserId   float64
 2   CreationDate  object
 3   ParentId      int64
 4   Score         int64
 5   Body          object
dtypes: float64(1), int64(3), object(2)
memory usage: 106.9+ MB

In [39]:
#convert float to integer type
answerdata.OwnerUserId = answerdata.OwnerUserId.astype(int)

In [40]:
#check the datatype values of columns
answerdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2001316 entries, 0 to 2014515
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Id            int64
 1   OwnerUserId   int64
 2   CreationDate  object
 3   ParentId      int64
 4   Score         int64
 5   Body          object
dtypes: int64(4), object(2)
memory usage: 106.9+ MB

#Trends & analysis